<h1>Welcome back, <%= @user.username %>!</h1>


<h2>Join Game</h2>
<p>
  <%= form_tag({controller: "games", action: "join"}, method: "post") do %>
    <%= submit_tag 'Find Game' %>
  <% end %>
</p>
<h2>Your Stats</h2>

