<%= flash[:error] %>

<h1>Welcome back, <%= @user.username %>!</h1>




<h3>Join Game
  <%= form_tag({controller: "games", action: "join"}, method: "post") do %>
    <%= submit_tag 'Find Game' %>
  <% end %>
Your Stats</h3>

