<div>
<h1>Welcome to Smackwangler, time traveler! Are you ready for the weirdest fight of your life??</h1>
<p>This is an interactive, online multiplayer card battle through time and space to defeat your opponent with your army(?) of time-displaced historical figures. Take advantage of your heroes' strengths and weaknesses and defeat the opposing player!</p>
<p>Click the link below and check out your beginner deck!</p>
<%= link_to deck_path(@user.deck) %>
</div>