<div id="home">
<p>Welcome to Smackwangler!</p>
<p>Smackwangler is a multiplayer, online, card battle through space and time to destroy your opponent's time machine!</p>
<p>Ever wanted to pit Kanye West against Mahatma Gandhi? You're in the right place.</p>
<p>Good luck and have fun!</p>
</div>
