<div id="home">
  <center>
  <div class = "menu">
    <button>
      <a href="<%= login_path %>">Play</a>
    </button>
    <br>
    <button>
      <a href="<%= about_path %>">How To Play Smackwangler!</a>
    </button>
    <br>
    <button>
      <a href="<%= new_user_path %>">Register</a>
    </button>
    <br>
    <button>
      <a href="<%= login_path %>">Login</a>
    </button>
  </div>
</center>
</div>
