<center>
	<div id="splash_pic" >
	<%= image_tag("brokenclock.png", class: "clock") %>

		<center>

			<div class="bottom_box">
				<br>
				<br>

				<p>Are you a time traveler from the future? Do you and your friends enjoy wrecklessly kidnapping historical figures and pitting them against each other?</p><br>
				<h2>Then this is the game for you.</h2>
				<br>
				<br>
			</div>
		</center>
	</div>
</center>