<div id="splash_pic">
  <center>
	<p>Are you a time traveler from the future? Do you and your friends enjoy wrecklessly kidnapping historical figures and pitting them against each other?</p><br>
	<h2>Then this is the game for you.</h2>
	</center>
</div>

