<div id="splash_pic">
  <audio autoplay id="audio" src="https://0.s3.envato.com/files/46707946/preview.mp3" type="audio/mpeg"></audio>
  <center>
	<p>Are you a time traveler from the future? Do you and your friends enjoy wrecklessly kidnapping historical figures and pitting them against each other?</p><br>
	<h2>Then this is the game for you.</h2>
	</center>
</div>

