<div class="score_board">
  <h2><div class="name"></div> Points:</h2>
  <div class="score">

  </div>
  <h2><div class="opponent_name"></div> Points:</h2>
  <div class="opponent_score">

  </div>


  <h2>Round:</h2>
  <div class="round">

  </div>
  <h2>Time Elapsed in Round:</h2>
  <div class="time">

  </div>
  <h2>Phase:</h2>
  <div class="phase">

  </div>
</div>
