<ul id="inline_block_of_cards">
  <li><div class='player_one_hand' id='1'><div class='card_one' id='hand'>
    <span class='name'>name_here</span><br>
    <span class='strength'>strength_here</span><br>
    <span class='intelligence'>intelligence_here</span><br>
    <span class='charisma'>charisma_here</span>
  </div></div></li>
  <li><div class='player_one_hand' id='2'><div class='card_two' id='hand'>
    <span class='name'>name_here</span><br>
    <span class='strength'>strength_here</span><br>
    <span class='intelligence'>intelligence_here</span><br>
    <span class='charisma'>charisma_here</span>
  </div></div></li>
    <li><div class='player_one_hand' id='3'><div class='card_three' id='hand'>
    <span class='name'>name_here</span><br>
    <span class='strength'>strength_here</span><br>
    <span class='intelligence'>intelligence_here</span><br>
    <span class='charisma'>charisma_here</span>
  </div></div></li>
    <li><div class='player_one_hand' id='4'><div class='card_four' id='hand'>
    <span class='name'>name_here</span><br>
    <span class='strength'>strength_here</span><br>
    <span class='intelligence'>intelligence_here</span><br>
    <span class='charisma'>charisma_here</span>
  </div></div></li>
    <li><div class='player_one_hand' id='5'><div class='card_five' id='hand'>
    <span class='name'>name_here</span><br>
    <span class='strength'>strength_here</span><br>
    <span class='intelligence'>intelligence_here</span><br>
    <span class='charisma'>charisma_here</span>
  </div></div></li>
    <li><div class='player_one_hand' id='6'><div class='card_six' id='hand'>
    <span class='name'>name_here</span><br>
    <span class='strength'>strength_here</span><br>
    <span class='intelligence'>intelligence_here</span><br>
    <span class='charisma'>charisma_here</span>
  </div></div></li>
</ul>
