<div class="score_board">
  <h2>Your Points:</h2>
  <div class="score">

  </div>
  <h2>Round:</h2>
  <div class="round">

  </div>
  <h2>Time Remaining in Round:</h2>
  <div class="time">

  </div>
</div>
