<div class='card_one' id='hand'>
  <span class='name'>name_here</span><br>
  <span class='strength'>strength_here</span><br>
  <span class='intelligence'>intelligence_here</span><br>
  <span class='charisma'>charisma_here</span>
</div>

