<div id="match">

    <br>
    <br>
    <br>
    <br>
    <p><center><span id="searching">Searching the depths of time for a wormhole</span> <%= image_tag("http://www.sixprizes.com/wp-content/themes/sixprizes/images/ellipsis.gif", height: '50', width: '80') %></p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <p><%= image_tag("http://i48.tinypic.com/2iaxvnc.gif") %></p></center>

    <% open_games %>
</div>
