<div id="match">
    <br>
    <br>
    <p><font size="5">Searching the depths of time for a wormhole</font> <%= image_tag("http://www.sixprizes.com/wp-content/themes/sixprizes/images/ellipsis.gif", height: '20', width: '30') %></p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <p><%= image_tag("http://i48.tinypic.com/2iaxvnc.gif") %></p>

    <% open_games %>
</div>
