<form id="new-user-form" action="/users" method="POST">
  <h2>P1 Username</h2>
  <input type="text" name="user1[username]" >
  <h2>P2 Username</h2>
  <input type="text" name="user2[username]" >
  <input type="submit" value="Register">
</form>


