<form id="new-user-form" action="/users" method="POST">
  <label>P1Username</label>
  <input id="P1 Username" type="text" name="user1[username]" ><br>
  <label>P2Username</label>
  <input id="P2 Username" type="text" name="user2[username]" > <br>
  <input type="submit" value="Register">
</form>

