Hello
<div id="game-frame">
  <button id="player-1-button">Player 1</button>
  <%=render partial: "games/player_1_hand" %>
  <button id="player-2-button">Player 2</button>
  <%=render partial: "games/player_2_hand" %>
</div>
