<div id="game">
  <h1>Temporary Game Template:</h1>
    <p>This is a game with the unique id of <%= @game.id %>.</p>
    <p>Player One is <%= @game.player_one.username %></p>
    <p>Player Two is <%= @game.player_two.username %></p>
</div>
