<div id="winscreen">
<br>
<br>
<br>
<br>
<h1><%= @game.player_one.username.upcase %> VS. <%= @game.player_two.username.upcase + " Match Results:" %></h1>
<br>
<p>Winner: <span class = "blink"> <%= @winner.upcase + "!!!" %></span></p>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
