<center><%= flash.now[:error] %></center>
<br>
<center>
<div class="db_introduction">
  <h2>
  Welcome to the Deck Builder!
  </h2>
  <br>
  <h3>Click the + to add that Hero to your deck</h3><br>
  <h3>Click the - to remove the card from your deck</h3><br>
</div>
</center>
  <br>


<div class="deck_builder">
  <div class="current_deck">
    <h4>Your Deck: <%= @deck.cards.count %></h4>
      <br>
        <% @deck.cards.each do |card| %>
            
            <%= render partial: 'remove_card', locals: { :@card => card} %>

        <% end %>
   </div>

  <div class="card_selector">
    <h4>Your Cards</h4>
      <br>
      <ol>
        <% @cards.each do |card| %>
            
            <%= render partial: 'add_card', locals: { :@card => card} %>

        <% end %>
      </ol>
  </div>
</div>