<div class="db_introduction">
  <h2>
  Welcome to the Deck Builder!
  </h2>
  <h3>Click the + to add that Hero to your deck</h3>
  <h3>Click the - to remove the card from your deck</h3>
  <p>Hover over the card to see the Hero's name</p>
</div>
  <br>


<div class="deck_builder">
  <h2>Your Deck</h2>
      <ol>
        <% @deck.cards.each do |card| %>
          <li>
            <%= link_to "-", remove_card_path(card_id: card), method:"DELETE" %>
            <div class="mini_card">
              <%= link_to (image_tag card.picture_url, class: "portrait", title: card.name), card_path(card) %>
            </div>
          </li>
        <% end %>
      </ol>
   </div>

<h2>Available cards</h2>
  <div class="card_selector">
   <h2>Your Cards</h2>
      <ol>
        <% @cards.each do |card| %>
          <li>
          <%= link_to "+", add_card_path(card_id: card), method:"POST" %>
            <div class="mini_card">
              <%= link_to (image_tag card.picture_url, class: "portrait", title: card.name), card_path(card) %>
            </div>
          </li>
        <% end %>
      </ol>
  </div>
</div>
